/********************************* 1. TREE *********************************/
.ygtvtn{width:16px; height:22px; background:url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -1826px; ;}

/* first or middle sibling, collapsable */
.ygtvtm{width:16px; height:22px; cursor:pointer; background:url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -216px; ; }

/* first or middle sibling, collapsable, hover */
.ygtvtmh{width:16px; height:22px; cursor:pointer; background:lavender url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -1021px; }

/* first or middle sibling, expandable */
.ygtvtp{width:16px; height:22px; cursor:pointer; background:url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -2631px; ;}

/* first or middle sibling, expandable, hover */
.ygtvtph{width:16px; height:22px; cursor:pointer; background:lavender url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -3436px; }

/* last sibling, no children */
.ygtvln{width:16px; height:22px; background:url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -135px; width: 16px; ;}

/* Last sibling, collapsable */
.ygtvlm{width:16px; height:22px; cursor:pointer; background:url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -81px}

/* Last sibling, collapsable, hover */
.ygtvlmh{width:16px; height:22px; cursor:pointer; background: url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -108px}

/* Last sibling, expandable */
.ygtvlp{width:16px; height:22px; cursor:pointer; background: url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -162px}

/* Last sibling, expandable, hover */
.ygtvlph{width:16px; height:22px; cursor:pointer; background:lavender url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -189px}

/* Loading icon */
.ygtvloading{width:16px; height:22px; background:url(../../../images/default/loading.gif) 0 0 no-repeat}

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell{width:16px; height:22px; background:url(../../../images/default/yuitreeview.png) 0 0 no-repeat;background-position: 0 -4241px}

.ygtvblankdepthcell{width:16px; height:22px}

/* the style of the div around each node */
.ygtvitem{}
 
/* the style of the div around each node's collection of children */
.ygtvchildren{}
 
* html .ygtvchildren{height:2%}
 
/* the style of the text label in ygTextNode */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover{margin-left:2px; text-decoration:none}

.ygtvspacer{height:10px; width:10px; margin:2px}
.ygtvfocus a, .ygtvrow td a{outline-style:none}
.ygtvfocus{/*background-color:#c0e0e0*/; border:none}
.ygtvfocus .ygtvlabel, .ygtvfocus .ygtvlabel:link, .ygtvfocus .ygtvlabel:visited, .ygtvfocus .ygtvlabel:hover{background-color:#c0e0e0}


/********************************* 2. CONTAINER *********************************/
.yui-overlay, .yui-panel-container{visibility:hidden; position:absolute; z-index:2}
.yui-panel{position:relative}
.yui-panel-container form{margin:0}
.mask{z-index:1; display:none; position:absolute; top:0; left:0; right:0; bottom:0}
.mask.block-scrollbars{overflow:auto}
.masked select, .drag select, .hide-select select{_visibility:hidden}
.yui-panel-container select{_visibility:inherit}
.hide-scrollbars, .hide-scrollbars *{overflow:hidden}
.hide-scrollbars select{display:none}
.show-scrollbars{overflow:auto}
.yui-panel-container.show-scrollbars, .yui-tt.show-scrollbars{overflow:visible}
.yui-panel-container.show-scrollbars .underlay, .yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px}
.yui-effect-fade .underlay, .yui-effect-fade .yui-tt-shadow{display:none}
.yui-tt-shadow{position:absolute}
.yui-override-padding{padding:0!important}
.yui-panel-container .container-close{overflow:hidden; text-indent:-10000em; text-decoration:none}
.yui-overlay.yui-force-redraw, .yui-panel-container.yui-force-redraw{margin-bottom:1px}
.mask{background-color:#000; opacity:.25; filter:alpha(opacity=25)}
.yui-panel-container{padding:0 1px; *padding:2px}
.yui-panel{position:relative; left:0; top:0; border-style:solid; border-width:1px 0; border-color:#808080; z-index:1; *border-width:1px; *zoom:1; _zoom:normal}
.yui-panel .hd, .yui-panel .bd, .yui-panel .ft{border-style:solid; border-width:0 1px; border-color:#808080; margin:0 -1px; *margin:0; *border:0}
.yui-panel .hd{border-bottom:solid 1px #ccc}
.yui-panel .bd, .yui-panel .ft{background-color:#F2F2F2}
.yui-panel .hd{padding:0 10px; font-size:93%; line-height:2; *line-height:1.9; font-weight:bold; color:#000; background:url(../../../images/default/sprite.png) repeat-x 0 -200px}
.yui-panel .bd{padding:10px}
.yui-panel .ft{border-top:solid 1px #808080; padding:5px 10px; font-size:77%}
.container-close{position:absolute; top:5px; right:6px; width:25px; height:15px; background:url(../../../images/default/sprite.png) no-repeat 0 -300px; cursor:pointer}
.yui-panel-container .underlay{right:-1px; left:-1px}
.yui-panel-container.matte{padding:9px 10px; background-color:#fff}
.yui-panel-container.shadow{_padding:2px 4px 0 2px}
.yui-panel-container.shadow .underlay{position:absolute; top:2px; left:-3px; right:-3px; bottom:-3px; *top:4px; *left:-1px; *right:-1px; *bottom:-1px; _top:0; _left:0; _right:0; _bottom:0; _margin-top:3px; _margin-left:-1px; background-color:#000; opacity:.12; filter:alpha(opacity=12)}
.yui-dialog .ft{border-top:none; padding:0 10px 10px 10px; font-size:100%}
.yui-dialog .ft .button-group{display:block; text-align:right}
.yui-dialog .ft button.default{font-weight:bold}
.yui-dialog .ft span.default{border-color:#304369; background-position:0 -1400px}
.yui-dialog .ft span.default .first-child{border-color:#304369}
.yui-dialog .ft span.default button{color:#fff}
.yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px; border-color:#ccc}
.yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc}
.yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6}
.yui-simple-dialog .bd .yui-icon{background:url(../../../images/default/sprite.png) no-repeat 0 0; width:16px; height:16px; margin-right:10px; float:left}
.yui-simple-dialog .bd span.blckicon{background-position:0 -1100px}
.yui-simple-dialog .bd span.alrticon{background-position:0 -1050px}
.yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px}
.yui-simple-dialog .bd span.infoicon{background-position:0 -1200px}
.yui-simple-dialog .bd span.warnicon{background-position:0 -1900px}
.yui-simple-dialog .bd span.tipicon{background-position:0 -1250px}
.yui-tt .bd{position:relative; top:0; left:0; z-index:1; color:#000; padding:2px 5px; border-color:#D4C237 #A6982B #A6982B #A6982B; border-width:1px; border-style:solid; background-color:#FFEE69}
.yui-tt.show-scrollbars .bd{overflow:auto}
.yui-tt-shadow{top:2px; right:-3px; left:-3px; bottom:-3px; background-color:#000}
.yui-tt-shadow-visible{opacity:.12; filter:alpha(opacity=12)}

/********************************* 3. TABS *********************************/

/* yui tab */  
.yui-navset .yui-nav li a em, 
.yui-navset-top .yui-nav li a em, 
.yui-navset-bottom .yui-nav li a em{display:block}

.yui-navset .yui-navset-left .yui-nav, 
.yui-navset .yui-navset-right .yui-nav, 
.yui-navset-left .yui-nav, 
.yui-navset-right .yui-nav{ position:absolute;  z-index:1}

.yui-navset-top .yui-nav, 
.yui-navset-bottom .yui-nav{ position:static}
.yui-navset .yui-navset-left .yui-nav, 
.yui-navset-left .yui-nav{left:0; right:auto}

.yui-navset .yui-navset-right .yui-nav, 
.yui-navset-right .yui-nav{right:0; left:auto}

.yui-navset .yui-nav li{ margin-right:0.5em}
.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li{ margin:0 0 0.5em}
.yui-navset-left .yui-nav, .yui-navset-right .yui-nav{width:6em}
.yui-navset-left{padding-left:6em}
.yui-navset-right{padding-right:6em}
.yui-nav, .yui-nav li{ margin:0;  padding:0;  list-style:none}
.yui-navset li em{font-style:normal}
.yui-navset{ position:relative;  zoom:1}
.yui-navset .yui-content{zoom:1}
.yui-navset .yui-hidden{display:none}
.yui-navset .yui-nav li{ display:inline-block;  display:-moz-inline-stack;  *display:inline;  vertical-align:bottom;  cursor:pointer;  zoom:1}
.yui-navset-left .yui-nav li, .yui-navset-right .yui-nav li{ display:block}
.yui-navset .yui-nav a{ outline:0}
.yui-navset .yui-nav a{position:relative}
.yui-navset .yui-nav li a{ display:block;  display:inline-block;  vertical-align:bottom;  zoom:1}
.yui-navset-left .yui-nav li a, .yui-navset-right .yui-nav li a{ display:block}
.yui-navset-bottom .yui-nav li a{ vertical-align:text-top}
.yui-navset .yui-nav li a em{display:block}
.yui-navset-left .yui-nav, .yui-navset-right .yui-nav{position:absolute; z-index:1}
.yui-navset-left .yui-nav{left:0}
.yui-navset-right .yui-nav{right:0}
/* sam  */

.yui-navset .yui-nav li{ margin-right:0.16em;  padding-top:1px;  zoom:1}
.yui-navset .yui-nav .selected{ margin-bottom:-1px}
.yui-navset .yui-nav a{background:saddlebrown url(../../../images/default/sprite.png) repeat-x;  border:solid #a3a3a3;  border-width:0 1px;  color:#000;  text-decoration:none}
.yui-navset .yui-nav a em{ border-top:solid 1px #a3a3a3;  border-bottom:0;  cursor:hand;  padding:0.2em .75em;  top:-1px;     position:relative}
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a:focus {background:saddlebrown url(images/gekkosprite1.png) repeat-x;color:#6E9F1F;font-weight:bold;background-position: 0 -1318px} 
.yui-navset .yui-nav a:hover{background:#CD853F	url(images/gekkosprite1.png); color:black;font-weight:bold;background-position: 0 -1349px}
.yui-navset .yui-nav .selected a em{ padding:0.3em 0.75em}

.yui-navset .yui-nav .selected a, 
.yui-navset .yui-nav a:hover, 
.yui-navset .yui-nav a:focus, 
.yui-navset .yui-nav a:hover em, 
.yui-navset .yui-nav a:focus em, 
.yui-navset .yui-nav .selected a em{ border-color:#999999}
.yui-navset .yui-nav{ border-bottom:1px solid #999999	;  position:relative;  zoom:1}
.yui-navset .yui-content{ border-top: none}
.yui-navset .yui-content div{ border:1px solid #808080;  border-top:none;  padding:0.25em 0.5em}
.yui-navset .yui-content div div{ border:0;  padding:0}

/**************** PAGINATOR ***************/
/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version:2.6.0
*/
 .yui-pg-container{ display:block;  margin:6px 0;  white-space:nowrap}
 .yui-pg-first, 
 .yui-pg-previous, 
 .yui-pg-next, 
 .yui-pg-last, 
 .yui-pg-current, 
 .yui-pg-pages, 
 .yui-pg-page{ display:inline-block;  font-family:"Segoe UI",arial,helvetica,clean,sans-serif;  padding:3px 6px;  zoom:1}
 .yui-pg-pages{ padding:0}
 .yui-pg-current{ padding:3px 0}
 a.yui-pg-first:link,  a.yui-pg-first:visited, 
 a.yui-pg-first:active,  a.yui-pg-first:hover, 
 a.yui-pg-previous:link,  a.yui-pg-previous:visited, 
 a.yui-pg-previous:active,  a.yui-pg-previous:hover, 
 a.yui-pg-next:link,  a.yui-pg-next:visited, 
 a.yui-pg-next:active,  a.yui-pg-next:hover, 
 a.yui-pg-last:link,  a.yui-pg-last:visited, 
 a.yui-pg-last:active,  a.yui-pg-last:hover, 
 a.yui-pg-page:link,  a.yui-pg-page:visited, 
 a.yui-pg-page:active,  a.yui-pg-page:hover{ color:#06c;  text-decoration:underline;  outline:0;text-decoration:none;color:brown}
 
 a.yui-pg-page:hover,  a.yui-pg-first:hover,  a.yui-pg-previous:hover,  a.yui-pg-next:hover, a.yui-pg-last:hover {color:forestgreen}
 span.yui-pg-first, 
 span.yui-pg-previous, 
 span.yui-pg-next, 
 span.yui-pg-last{ color:#a6a6a6}
 .yui-pg-page{ background-color:#fff;  padding:3px 6px;  text-decoration:none}
 .yui-pg-current-page{ background-color:transparent;  border:none;  font-weight:bold;  padding:3px 6px}
 .yui-pg-page{ margin-left:1px;  margin-right:1px}
 .yui-pg-first, 
 .yui-pg-previous{ padding-left:0}
 .yui-pg-next, 
 .yui-pg-last{ padding-right:0}
 .yui-pg-current, 
 .yui-pg-rpp-options{ margin-left:1em;  margin-right:1em}
/* .yui-pg-first, .yui-pg-last, .yui-pg-previous, .yui-pg-next, .yui-pg-page, span.yui-pg-current-page {background:#EEEEEE;border:1px solid #AAAAAA;border-radius:3px}
*/
.yui-pg-first, .yui-pg-last, .yui-pg-previous, .yui-pg-next, .yui-pg-page  {background:url(../../../images/default/pgbg.png) bottom left no-repeat;background-size:100% 21px;}
span.yui-pg-current-page {background:none}


/* LAYOUT & RESIZE */

.yui-resize{position:relative; zoom:1; z-index:0}
.yui-resize-wrap{zoom:1}
.yui-draggable{cursor:move}
.yui-resize .yui-resize-handle{position:absolute; z-index:1; font-size:0; margin:0; padding:0; zoom:1; height:1px; width:1px}
.yui-resize .yui-resize-handle-br{height:5px; width:5px; bottom:0; right:0; cursor:se-resize; z-index:2; zoom:1}
.yui-resize .yui-resize-handle-bl{height:5px; width:5px; bottom:0; left:0; cursor:sw-resize; z-index:2; zoom:1}
.yui-resize .yui-resize-handle-tl{height:5px; width:5px; top:0; left:0; cursor:nw-resize; z-index:2; zoom:1}
.yui-resize .yui-resize-handle-tr{height:5px; width:5px; top:0; right:0; cursor:ne-resize; z-index:2; zoom:1}
.yui-resize .yui-resize-handle-r{width:5px; height:100%; top:0; right:0; cursor:e-resize; zoom:1}
.yui-resize .yui-resize-handle-l{height:100%; width:5px; top:0; left:0; cursor:w-resize; zoom:1}
.yui-resize .yui-resize-handle-b{width:100%; height:5px; bottom:0; right:0; cursor:s-resize; zoom:1}
.yui-resize .yui-resize-handle-t{width:100%; height:5px; top:0; right:0; cursor:n-resize; zoom:1}
.yui-resize-proxy{position:absolute; border:1px dashed #000; visibility:hidden; z-index:1000}
.yui-resize-hover .yui-resize-handle, .yui-resize-hidden .yui-resize-handle{opacity:0; filter:alpha(opacity=0)}
.yui-resize-ghost{opacity:.5; filter:alpha(opacity=50);}
.yui-resize-knob .yui-resize-handle{height:6px; width:6px}
.yui-resize-knob .yui-resize-handle-tr{right:-3px; top:-3px}
.yui-resize-knob .yui-resize-handle-tl{left:-3px; top:-3px}
.yui-resize-knob .yui-resize-handle-bl{left:-3px; bottom:-3px}
.yui-resize-knob .yui-resize-handle-br{right:-3px; bottom:-3px}
.yui-resize-knob .yui-resize-handle-t{left:45%; top:-3px}
.yui-resize-knob .yui-resize-handle-r{right:-3px; top:45%}
.yui-resize-knob .yui-resize-handle-l{left:-3px; top:45%}
.yui-resize-knob .yui-resize-handle-b{left:45%; bottom:-3px}
.yui-resize-status{position:absolute; top:-999px; left:-999px; padding:2px; font-size:80%; display:none; zoom:1; z-index:9999}
.yui-resize-status strong, .yui-resize-status em{font-weight:normal; font-style:normal; padding:1px; zoom:1}
.yui-resize .yui-resize-handle{background-color:#F2F2F2; zoom:1}
.yui-resize .yui-resize-handle-active{background-color:#7D98B8; zoom:1}
.yui-resize .yui-resize-handle-l, .yui-resize .yui-resize-handle-r, .yui-resize .yui-resize-handle-l-active, .yui-resize .yui-resize-handle-r-active{height:100%; zoom:1}
.yui-resize-knob .yui-resize-handle{border:1px solid #808080}
.yui-resize-hover .yui-resize-handle-active{opacity:1; filter:alpha(opacity=100)}
.yui-resize-proxy{border:1px dashed #426FD9}
.yui-resize-status{border:1px solid #A6982B; border-top:1px solid #D4C237; background-color:#FFEE69; color:#000}
.yui-resize-status strong, .yui-resize-status em{float:left; display:block; clear:both; padding:1px; text-align:center}
.yui-resize .yui-resize-handle-inner-r, .yui-resize .yui-resize-handle-inner-l{background:transparent url(../../../images/default/layout_sprite.png) no-repeat 0 -5px; height:16px; width:5px; position:absolute; top:45%}
.yui-resize .yui-resize-handle-inner-t, .yui-resize .yui-resize-handle-inner-b{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px 0; height:5px; width:16px; position:absolute; left:50%}
.yui-resize .yui-resize-handle-br{background-image:url(../../../images/default/layout_sprite.png); background-repeat:no-repeat; background-position:-22px -62px}
.yui-resize .yui-resize-handle-tr{background-image:url(../../../images/default/layout_sprite.png); background-repeat:no-repeat; background-position:-22px -42px}
.yui-resize .yui-resize-handle-tl{background-image:url(../../../images/default/layout_sprite.png); background-repeat:no-repeat; background-position:-22px -82px}
.yui-resize .yui-resize-handle-bl{background-image:url(../../../images/default/layout_sprite.png); background-repeat:no-repeat; background-position:-22px -23px}
.yui-resize-knob .yui-resize-handle-t, .yui-resize-knob .yui-resize-handle-r, .yui-resize-knob .yui-resize-handle-b, .yui-resize-knob .yui-resize-handle-l, .yui-resize-knob .yui-resize-handle-tl, .yui-resize-knob .yui-resize-handle-tr, .yui-resize-knob .yui-resize-handle-bl, .yui-resize-knob .yui-resize-handle-br, .yui-resize-knob .yui-resize-handle-inner-t, .yui-resize-knob .yui-resize-handle-inner-r, .yui-resize-knob .yui-resize-handle-inner-b, .yui-resize-knob .yui-resize-handle-inner-l, .yui-resize-knob .yui-resize-handle-inner-tl, .yui-resize-knob .yui-resize-handle-inner-tr, .yui-resize-knob .yui-resize-handle-inner-bl, .yui-resize-knob .yui-resize-handle-inner-br{background-image:none}
.yui-resize-knob .yui-resize-handle-l, .yui-resize-knob .yui-resize-handle-r, .yui-resize-knob .yui-resize-handle-l-active, .yui-resize-knob .yui-resize-handle-r-active{height:6px; width:6px}
.yui-resize-textarea .yui-resize-handle-r{right:-8px}
.yui-resize-textarea .yui-resize-handle-b{bottom:-8px}
.yui-resize-textarea .yui-resize-handle-br{right:-8px; bottom:-8px}

.yui-layout-loading{visibility:hidden}
body.yui-layout{overflow:hidden; position:relative; padding:0; margin:0}
.yui-layout-doc{position:relative; overflow:hidden; padding:0; margin:0}
.yui-layout-unit{height:50px; width:50px; padding:0; margin:0; float:none; z-index:0}
.yui-layout-unit-top{position:absolute; top:0; left:0; width:100%}
.yui-layout-unit-left{position:absolute; top:0; left:0}
.yui-layout-unit-right{position:absolute; top:0; right:0}
.yui-layout-unit-bottom{position:absolute; bottom:0; left:0; width:100%}
.yui-layout-unit-center{position:absolute; top:0; left:0; width:100%}
.yui-layout div.yui-layout-hd{position:absolute; top:0; left:0; zoom:1; width:100%}
.yui-layout div.yui-layout-bd{position:absolute; top:0; left:0; zoom:1; width:100%}
.yui-layout .yui-layout-noscroll div.yui-layout-bd{overflow:hidden}
.yui-layout .yui-layout-scroll div.yui-layout-bd{overflow:auto}
.yui-layout div.yui-layout-ft{position:absolute; bottom:0; left:0; width:100%; zoom:1}
.yui-layout .yui-layout-unit div.yui-layout-hd h2{text-align:left}
.yui-layout .yui-layout-unit div.yui-layout-hd .collapse{cursor:pointer; height:13px; position:absolute; right:2px; top:2px; width:17px; font-size:0}
.yui-layout .yui-layout-unit div.yui-layout-hd .close{cursor:pointer; height:13px; position:absolute; right:2px; top:2px; width:17px; font-size:0}
.yui-layout .yui-layout-unit div.yui-layout-hd .collapse-close{right:25px}
.yui-layout .yui-layout-clip{position:absolute; height:20px; background-color:#c0c0c0; display:none}
.yui-layout .yui-layout-clip .collapse{cursor:pointer; height:13px; position:absolute; right:2px; top:2px; width:17px; font-size:0px}
.yui-layout .yui-layout-wrap{height:100%; width:100%; position:absolute; left:0}
.yui-layout .yui-resize-proxy{border:none; font-size:0; margin:0; padding:0}
.yui-layout .yui-resize-resizing .yui-resize-handle{visibility:hidden}
.yui-layout .yui-resize-proxy div{position:absolute; background:url(images/sidebar.png) top right no-repeat;}
.yui-layout .yui-resize .yui-resize-handle-active{}
.yui-layout .yui-resize-proxy .yui-layout-handle-l{width:5px; height:100%; top:0; left:0}
.yui-layout .yui-resize-proxy .yui-layout-handle-r{width:5px; top:0; right:0; height:100%; position:absolute; zoom:1}
.yui-layout .yui-resize-proxy .yui-layout-handle-b{width:100%; bottom:0; left:0; height:5px}
.yui-layout .yui-resize-proxy .yui-layout-handle-t{width:100%; top:0; left:0; height:5px}
.yui-layout .yui-layout-unit-left div.yui-layout-hd .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -160px; border:1px solid white}
.yui-layout .yui-layout-clip-left .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -140px; border:1px solid white}
.yui-layout .yui-layout-unit-right div.yui-layout-hd .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -200px; border:1px solid white}
.yui-layout .yui-layout-clip-right .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -120px; border:1px solid white}
.yui-layout .yui-layout-unit-top div.yui-layout-hd .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -220px; border:1px solid white}
.yui-layout .yui-layout-clip-top .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -240px; border:1px solid white}
.yui-layout .yui-layout-unit-bottom div.yui-layout-hd .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -260px; border:1px solid white}
.yui-layout .yui-layout-clip-bottom .collapse{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -180px; border:1px solid white}
.yui-layout .yui-layout-unit div.yui-layout-hd .close{background:transparent url(../../../images/default/layout_sprite.png) no-repeat -20px -100px; border:1px solid white}
.yui-layout .yui-layout-hd{background:url(../../../images/default/sprite.png) repeat-x 0 -1400px; border:1px solid white}
.yui-layout{background:white}
.yui-layout .yui-layout-unit div.yui-layout-hd h2{font-weight:bold; color:#fff; padding:3px}
.yui-layout .yui-layout-unit div.yui-layout-bd{border:1px solid white; border-bottom:none; border-top:none; *border-bottom-width:0; *border-top-width:0; background-color:white; text-align:left} /* Prana */
.yui-layout .yui-layout-unit div.yui-layout-bd-noft{border-bottom:1px solid white}
.yui-layout .yui-layout-unit div.yui-layout-bd-nohd{border-top:1px solid white}
.yui-layout .yui-layout-clip{position:absolute; height:20px; background-color:#EDF5FF; display:none; border:1px solid white}
.yui-layout div.yui-layout-ft{border:1px solid white; border-top:none; *border-top-width:0; background-color:#f2f2f2}
.yui-layout-unit .yui-resize-handle{background-color:transparent}
.yui-layout-unit .yui-resize-handle-r{right:0; top:0; background-image:none}
.yui-layout-unit .yui-resize-handle-l{left:0; top:0; background-image:none}
.yui-layout-unit .yui-resize-handle-b{right:0; bottom:0; background-image:none}
.yui-layout-unit .yui-resize-handle-t{right:0; top:0; background-image:none}
.yui-layout-unit .yui-resize-handle-r .yui-layout-resize-knob, .yui-layout-unit .yui-resize-handle-l .yui-layout-resize-knob{position:absolute; height:56px; width:6px; top:25%; left:0px; background:transparent url(images/gekkosprite1.png) no-repeat;background-position: 0 -424px; width: 6px; height: 100px}
.yui-layout-unit .yui-resize-handle-t .yui-layout-resize-knob, .yui-layout-unit .yui-resize-handle-b .yui-layout-resize-knob{position:absolute; height:10px; width:6px; left:50%; background:transparent url(images/gekkosprite1.png) no-repeat;background-position: 0 -525px; width: 6px; height: 6px;}

/** BUTTON **/
/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-button{display:-moz-inline-box; display:inline-block; vertical-align:text-bottom}
.yui-button .first-child{display:block; *display:inline-block}
.yui-button button, .yui-button a{display:block; *display:inline-block; border:none; margin:0}
.yui-button button{background-color:transparent; *overflow:visible; cursor:pointer}
.yui-button a{text-decoration:none}
.yui-button{border-width:1px 0; border-style:solid; border-color:#808080; background:url(../../../images/default/sprite.png) repeat-x 0 0; margin:auto .25em}
.yui-button .first-child{border-width:0 1px; border-style:solid; border-color:#808080; margin:0 -1px; _margin:0}
.yui-button button, .yui-button a, .yui-button a:visited{padding:0 10px; font-size:93%; line-height:2; *line-height:1.7; min-height:2em; *min-height:auto; color:#000}
.yui-button a{*line-height:1.875; *padding-bottom:1px}
.yui-split-button button, .yui-menu-button button{padding-right:20px; background-position:right center; background-repeat:no-repeat}
.yui-menu-button button{background-image:url(../../../images/default/menu-button-arrow.png)}
.yui-split-button button{background-image:url(../../../images/default/split-button-arrow.png)}
.yui-button-focus{border-color:#7D98B8; background-position:0 -1300px}
.yui-button-focus .first-child{border-color:#7D98B8}
.yui-split-button-focus button{background-image:url(../../../images/default/split-button-arrow-focus.png)}
.yui-button-hover{border-color:#7D98B8; background-position:0 -1300px}
.yui-button-hover .first-child{border-color:#7D98B8}
.yui-split-button-hover button{background-image:url(../../../images/default/split-button-arrow-hover.png)}
.yui-button-active{border-color:#7D98B8; background-position:0 -1700px}
.yui-button-active .first-child{border-color:#7D98B8}
.yui-split-button-activeoption{border-color:#808080; background-position:0 0}
.yui-split-button-activeoption .first-child{border-color:#808080}
.yui-split-button-activeoption button{background-image:url(../../../images/default/split-button-arrow-active.png)}
.yui-radio-button-checked, .yui-checkbox-button-checked{border-color:#304369; background-position:0 -1400px}
.yui-radio-button-checked .first-child, .yui-checkbox-button-checked .first-child{border-color:#304369}
.yui-radio-button-checked button, .yui-checkbox-button-checked button{color:#fff}
.yui-button-disabled{border-color:#ccc; background-position:0 -1500px}
.yui-button-disabled .first-child{border-color:#ccc}
.yui-button-disabled button, .yui-button-disabled a, .yui-button-disabled a:visited{color:#A6A6A6; cursor:default}
.yui-menu-button-disabled button{background-image:url(../../../images/default/menu-button-arrow-disabled.png)}
.yui-split-button-disabled button{background-image:url(../../../images/default/split-button-arrow-disabled.png)}

/*
DATATABLE
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version:2.6.0
*/
 .yui-dt-mask{position:absolute; z-index:9500}
.yui-dt-tmp{position:absolute; left:-9000px}
.yui-dt-scrollable .yui-dt-bd{overflow:auto}
.yui-dt-scrollable .yui-dt-hd{overflow:hidden; position:relative}
.yui-dt-scrollable .yui-dt-bd thead tr, .yui-dt-scrollable .yui-dt-bd thead th{position:absolute; left:-1500px}
.yui-dt-scrollable tbody{-moz-outline:none}
.yui-dt-draggable{cursor:move}
.yui-dt-coltarget{position:absolute; z-index:999}
.yui-dt-hd{zoom:1}
th.yui-dt-resizeable .yui-dt-resizerliner{position:relative}
.yui-dt-resizer{position:absolute; right:0; bottom:0; height:100%; cursor:e-resize; cursor:col-resize; background-color:#CCC; opacity:0; filter:alpha(opacity=0)}
.yui-dt-resizerproxy{visibility:hidden; position:absolute; z-index:9000}
th.yui-dt-hidden .yui-dt-liner, td.yui-dt-hidden .yui-dt-liner, th.yui-dt-hidden .yui-dt-resizer{display:none}
.yui-dt-editor{position:absolute; z-index:9000}
 .yui-dt table{margin:0; padding:0; font-family:"Lucida Grande","Segoe UI",arial; font-size:inherit; border-collapse:separate; *border-collapse:collapse; border-spacing:0; border:1px solid #BBBBBB;border-top-left-radius:5px;border-top-right-radius:5px}
 .yui-dt thead{border-spacing:0;}
 .yui-dt caption{color:#000000; font-size:85%; font-weight:normal; font-style:italic; line-height:1; padding:1em 0pt; text-align:center}
 .yui-dt th{background:#D8D8DA url(../../../images/default/sprite.png) repeat-x 0 0;}
 .yui-dt th:first-child {border-top-left-radius:5px;} /* prana */
 .yui-dt th:last-child {border-top-right-radius:5px} /* babygekko */
 .yui-dt th,  .yui-dt th a{font-weight:normal; text-decoration:none; color:#666666; vertical-align:bottom}
 .yui-dt th{margin:0; padding:0; border:none; border-right:1px solid #CBCBCB}
 .yui-dt tr.yui-dt-first td{border-top:1px solid #BBBBBB}
 .yui-dt th .yui-dt-liner{white-space:nowrap}
 .yui-dt-liner{margin:0; padding:0; padding:4px}
 .yui-dt-coltarget{width:5px; background-color:#CBCBCB}
 .yui-dt td{margin:0; padding:0; border:none; border-right:1px solid #CBCBCB; text-align:left}
 .yui-dt-list td{border-right:none}
 .yui-dt-resizer{width:6px}
 .yui-dt-mask{background-color:#000; opacity:.25; *filter:alpha(opacity=25)}
 .yui-dt-message{background-color:#FFF}
 .yui-dt-scrollable table{border:none}
 .yui-dt-scrollable .yui-dt-hd{border-left:1px solid #7F7F7F; border-top:1px solid #7F7F7F; border-right:1px solid #7F7F7F}
 .yui-dt-scrollable .yui-dt-bd{border-left:1px solid #7F7F7F; border-bottom:1px solid #7F7F7F; border-right:1px solid #7F7F7F; background-color:#FFF}
 .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td{border-bottom:1px solid #7F7F7F}
 thead .yui-dt-sortable{cursor:pointer}
 th.yui-dt-asc,  th.yui-dt-desc{background:url(../../../images/default/sprite.png) repeat-x 0 -100px}
 th.yui-dt-sortable .yui-dt-label{margin-right:10px}
 th.yui-dt-asc .yui-dt-liner{background:url(../../../images/default/dt-arrow-up.png) no-repeat right}
 th.yui-dt-desc .yui-dt-liner{background:url(../../../images/default/dt-arrow-dn.png) no-repeat right}
tbody .yui-dt-editable{cursor:pointer}
.yui-dt-editor{text-align:left; background-color:#F2F2F2; border:1px solid #808080; padding:6px}
.yui-dt-editor label{padding-left:4px; padding-right:6px}
.yui-dt-editor .yui-dt-button{padding-top:6px; text-align:right}
.yui-dt-editor .yui-dt-button button{background:url(../../../images/default/sprite.png) repeat-x 0 0; border:1px solid #999; width:4em; height:1.8em; margin-left:6px}
.yui-dt-editor .yui-dt-button button.yui-dt-default{background:url(../../../images/default/sprite.png) repeat-x 0 -1400px; background-color:#5584E0; border:1px solid #304369; color:#FFF}
.yui-dt-editor .yui-dt-button button:hover{background:url(../../../images/default/sprite.png) repeat-x 0 -1300px; color:#000}
.yui-dt-editor .yui-dt-button button:active{background:url(../../../images/default/sprite.png) repeat-x 0 -1700px; color:#000}
 tr.yui-dt-even{background-color:white}
 tr.yui-dt-odd{background-color:#FAF2ED}
 tr.yui-dt-even td.yui-dt-asc,  tr.yui-dt-even td.yui-dt-desc{background-color:#EDF5FF}
 tr.yui-dt-odd td.yui-dt-asc,  tr.yui-dt-odd td.yui-dt-desc{background-color:#DBEAFF}
 .yui-dt-list tr.yui-dt-even{background-color:#FFF}
 .yui-dt-list tr.yui-dt-odd{background-color:#FFF}
 .yui-dt-list tr.yui-dt-even td.yui-dt-asc,  .yui-dt-list tr.yui-dt-even td.yui-dt-desc{background-color:#EDF5FF}
 .yui-dt-list tr.yui-dt-odd td.yui-dt-asc,  .yui-dt-list tr.yui-dt-odd td.yui-dt-desc{background-color:#EDF5FF}
 th.yui-dt-highlighted,  th.yui-dt-highlighted a{background-color:#B2D2FF}
 tr.yui-dt-highlighted,  tr.yui-dt-highlighted td.yui-dt-asc,  tr.yui-dt-highlighted td.yui-dt-desc,  tr.yui-dt-even td.yui-dt-highlighted,  tr.yui-dt-odd td.yui-dt-highlighted{cursor:pointer; background-color:#B2D2FF}
 .yui-dt-list th.yui-dt-highlighted,  .yui-dt-list th.yui-dt-highlighted a{background-color:#B2D2FF}
 .yui-dt-list tr.yui-dt-highlighted,  .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc,  .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc,  .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted,  .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted{cursor:pointer; background-color:#B2D2FF}
 th.yui-dt-selected,  th.yui-dt-selected a{background-color:#446CD7}
 tr.yui-dt-selected td,  tr.yui-dt-selected td.yui-dt-asc,  tr.yui-dt-selected td.yui-dt-desc{background-color:#426FD9; color:#FFF}
 tr.yui-dt-even td.yui-dt-selected,  tr.yui-dt-odd td.yui-dt-selected{background-color:#446CD7; color:#FFF}
 .yui-dt-list th.yui-dt-selected,  .yui-dt-list th.yui-dt-selected a{background-color:#446CD7}
 .yui-dt-list tr.yui-dt-selected td,  .yui-dt-list tr.yui-dt-selected td.yui-dt-asc,  .yui-dt-list tr.yui-dt-selected td.yui-dt-desc{background-color:#426FD9; color:#FFF}
 .yui-dt-list tr.yui-dt-even td.yui-dt-selected,  .yui-dt-list tr.yui-dt-odd td.yui-dt-selected{background-color:#446CD7; color:#FFF}
 .yui-dt-paginator{display:block; margin:6px 0; white-space:nowrap}
 .yui-dt-paginator .yui-dt-first,  .yui-dt-paginator .yui-dt-last,  .yui-dt-paginator .yui-dt-selected{padding:2px 6px}
 .yui-dt-paginator a.yui-dt-first,  .yui-dt-paginator a.yui-dt-last{text-decoration:none}
 .yui-dt-paginator .yui-dt-previous,  .yui-dt-paginator .yui-dt-next{display:none}
 a.yui-dt-page{border:1px solid #CBCBCB; padding:2px 6px; text-decoration:none; background-color:#fff}
 .yui-dt-selected{border:1px solid #fff; background-color:#fff}

/* CALENDAR */

.yui-calcontainer{position:relative; float:left; _overflow:hidden}
.yui-calcontainer iframe{position:absolute; border:none; margin:0; padding:0; z-index:0; width:100%; height:100%; left:0px; top:0px}
.yui-calcontainer iframe.fixedsize{width:50em; height:50em; top:-1px; left:-1px}
.yui-calcontainer.multi .groupcal{z-index:1; float:left; position:relative}
.yui-calcontainer .title{position:relative; z-index:1}
.yui-calcontainer .close-icon{position:absolute; z-index:1; text-indent:-10000em; overflow:hidden}
.yui-calendar{position:relative}
.yui-calendar .calnavleft{position:absolute; z-index:1; text-indent:-10000em; overflow:hidden}
.yui-calendar .calnavright{position:absolute; z-index:1; text-indent:-10000em; overflow:hidden}
.yui-calendar .calheader{position:relative; width:100%; text-align:center}
.yui-calcontainer .yui-cal-nav-mask{position:absolute; z-index:2; margin:0; padding:0; width:100%; height:100%; _width:0; _height:0; left:0; top:0; display:none}
.yui-calcontainer .yui-cal-nav{position:absolute; z-index:3; top:0; display:none}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn{display:-moz-inline-box; display:inline-block}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button{display:block; *display:inline-block; *overflow:visible; border:none; background-color:transparent; cursor:pointer}
.yui-calendar .calbody a:hover{background:inherit}
p#clear{clear:left; padding-top:10px}
 .yui-calcontainer{background-color:#f2f2f2; border:1px solid #808080; padding:10px}
 .yui-calcontainer.multi{padding:0 5px 0 5px}
 .yui-calcontainer.multi .groupcal{background-color:transparent; border:none; padding:10px 5px 10px 5px; margin:0}
 .yui-calcontainer .title{background:url(../../../images/default/sprite.png) repeat-x 0 0; border-bottom:1px solid #cccccc; font:100% sans-serif; color:#000; font-weight:bold; height:auto; padding:.4em; margin:0 -10px 10px -10px; top:0; left:0; text-align:left}
 .yui-calcontainer.multi .title{margin:0 -5px 0 -5px}
 .yui-calcontainer.withtitle{padding-top:0}
 .yui-calcontainer .calclose{background:url(../../../images/default/sprite.png) no-repeat 0 -300px; width:25px; height:15px; top:.4em; right:.4em; cursor:pointer}
 .yui-calendar{border-spacing:0; border-collapse:separate; font:100% sans-serif; text-align:center; margin:0}
 .yui-calendar .calhead{background:transparent; border:none; vertical-align:middle; padding:0}
 .yui-calendar .calheader{background:transparent; font-weight:bold; padding:0 0 .6em 0; text-align:center}
 .yui-calendar .calheader img{border:none}
 .yui-calendar .calnavleft{background:url(../../../images/default/sprite.png) no-repeat 0 -450px; width:25px; height:15px; top:0; bottom:0; left:-10px; margin-left:.4em; cursor:pointer}
 .yui-calendar .calnavright{background:url(../../../images/default/sprite.png) no-repeat 0 -500px; width:25px; height:15px; top:0; bottom:0; right:-10px; margin-right:.4em; cursor:pointer}
 .yui-calendar .calweekdayrow{height:2em}
 .yui-calendar .calweekdayrow th{padding:0; border:none}
 .yui-calendar .calweekdaycell{color:#000; font-weight:bold; text-align:center; width:2em}
 .yui-calendar .calfoot{background-color:#f2f2f2}
 .yui-calendar .calrowhead,  .yui-calendar .calrowfoot{color:#a6a6a6; font-size:85%; font-style:normal; font-weight:normal; border:none}
 .yui-calendar .calrowhead{text-align:right; padding:0 2px 0 0}
 .yui-calendar .calrowfoot{text-align:left; padding:0 0 0 2px}
 .yui-calendar td.calcell{border:1px solid #cccccc; background:#fff; padding:1px; height:1.6em; line-height:1.6em; text-align:center; white-space:nowrap}
 .yui-calendar td.calcell a{color:#0066cc; display:block; height:100%; text-decoration:none}
 .yui-calendar td.calcell.today{background-color:#000}
 .yui-calendar td.calcell.today a{background-color:#fff}
 .yui-calendar td.calcell.oom{background-color:#cccccc; color:#a6a6a6; cursor:default}
 .yui-calendar td.calcell.selected{background-color:#fff; color:#000}
 .yui-calendar td.calcell.selected a{background-color:#b3d4ff; color:#000}
 .yui-calendar td.calcell.calcellhover{background-color:#426fd9; color:#fff; cursor:pointer}
 .yui-calendar td.calcell.calcellhover a{background-color:#426fd9; color:#fff}
 .yui-calendar td.calcell.previous{color:#e0e0e0}
 .yui-calendar td.calcell.restricted{text-decoration:line-through}
 .yui-calendar td.calcell.highlight1{background-color:#ccff99}
 .yui-calendar td.calcell.highlight2{background-color:#99ccff}
 .yui-calendar td.calcell.highlight3{background-color:#ffcccc}
 .yui-calendar td.calcell.highlight4{background-color:#ccff99}
 .yui-calendar a.calnav{border:1px solid #f2f2f2; padding:0 4px; text-decoration:none; color:#000; zoom:1}
 .yui-calendar a.calnav:hover{background:url(../../../images/default/sprite.png) repeat-x 0 0; border-color:#A0A0A0; cursor:pointer}
 .yui-calcontainer .yui-cal-nav-mask{background-color:#000; opacity:0.25; *filter:alpha(opacity=25)}
 .yui-calcontainer .yui-cal-nav{font-family:arial,helvetica,clean,sans-serif; font-size:93%; border:1px solid #808080; left:50%; margin-left:-7em; width:14em; padding:0; top:2.5em; background-color:#f2f2f2}
 .yui-calcontainer.withtitle .yui-cal-nav{top:4.5em}
 .yui-calcontainer.multi .yui-cal-nav{width:16em; margin-left:-8em}
 .yui-calcontainer .yui-cal-nav-y,  .yui-calcontainer .yui-cal-nav-m,  .yui-calcontainer .yui-cal-nav-b{padding:5px 10px 5px 10px}
 .yui-calcontainer .yui-cal-nav-b{text-align:center}
 .yui-calcontainer .yui-cal-nav-e{margin-top:5px; padding:5px; background-color:#EDF5FF; border-top:1px solid black; display:none}
 .yui-calcontainer .yui-cal-nav label{display:block; font-weight:bold}
 .yui-calcontainer .yui-cal-nav-mc{width:100%; _width:auto}
 .yui-calcontainer .yui-cal-nav-y input.yui-invalid{background-color:#FFEE69; border:1px solid #000}
 .yui-calcontainer .yui-cal-nav-yc{width:4em}
 .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn{border:1px solid #808080; background:url(../../../images/default/sprite.png) repeat-x 0 0; background-color:#ccc; margin:auto .15em}
 .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button{padding:0 8px; font-size:93%; line-height:2; *line-height:1.7; min-height:2em; *min-height:auto; color:#000}
 .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default{border:1px solid #304369; background-color:#426fd9; background:url(../../../images/default/sprite.png) repeat-x 0 -1400px}
 .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button{color:#fff}
/**************Carousel *************/
.yui-carousel{ visibility:hidden;  overflow:hidden;  position:relative;  text-align:left;  zoom:1; }
 
.yui-carousel.yui-carousel-visible{ visibility:visible; }
 
.yui-carousel-content{ overflow:hidden;  position:relative;  text-align:center; }
 
.yui-carousel-element li{ border:1px solid #ccc;  list-style:none;  margin:1px;  overflow:hidden;  padding:0;  position:absolute;  text-align:center; }
 
.yui-carousel-vertical .yui-carousel-element li{ display:block;  float:none; }
 
.yui-log .carousel{ background:#f2e886; }
 
.yui-carousel-nav{ zoom:1; }
 
.yui-carousel-nav:after{ content:".";  display:block;  height:0;  clear:both;  visibility:hidden;  }
 
.yui-carousel-button-focus{ outline:1px dotted #000; }
 
.yui-carousel-min-width{ min-width:115px; }
 
.yui-carousel-element{ overflow:hidden;  position:relative;  margin:0 auto;  padding:0;  text-align:left;  *margin:0; }
 
.yui-carousel-horizontal .yui-carousel-element{ width:320000px; }
 
.yui-carousel-vertical .yui-carousel-element{ height:320000px; }
 
.yui-skin-sam .yui-carousel-nav select{ position:static; }

.yui-carousel .yui-carousel-item-selected{ border:1px dashed #000;  margin:1px; }
