body
{
	padding: 20px;
	background-color: #FFF; 
	text-align: center;
	font: 76% Verdana,Arial,sans-serif
}
h1,h2,p
{
	margin: 0 10px
}
a, a.visited
{
	text-decoration:none;
}
form
{
	padding: 5px 10px 5px 10px
}
input 
{
		border:1px solid #666666;
		background-color:#ffffff;
		font-size:14px
}
.button
{
		background-color:#fff;
}
input.feedback
{
		background-color:transparent;
		width: 400px;
		border: 0px
}
input:focus
{
		background-color:#ffffcc;
}
textarea 
{
		border:1px solid #666666;
		background-color:#ffffff;
		font-size:14px;
		/*color:#4396D8*/
}

div#content table
{
	padding: 5px 10px 5px 10px
}

table.nospacing
{
	padding: 0px 0px 0px 0px;
	border-collapse:collapse;
}

td.nospacing
{
	padding: 0px 0px 0px 0px;
}
h1
{
	font-size: 250%;
	color: #4396D8;
	letter-spacing: 1px
}
h2
{
	font-size: 140%;
	color: #FFF;
	padding-top: 0.3em
}
div#container
{
	text-align:left
}
div#nav
{
	display:none;
}
div#content
{
	position:absolute;
	top:5px;
	left:5px;
	background: #9DD4FF;
	width:800px
}
div#menu
{
	display:none;
}
.rtop,.rbottom{display:block}
.rtop *,.rbottom *{display:block;height: 1px;overflow: hidden}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px;height: 2px}

.rs1{margin: 0 2px}
.rs2{margin: 0 1px}

div#content tr.odd
{
	background-color:#dddddd;
}

div#content tr.even
{
	background-color:#eeeeee;
}
