body
{
		background-color:#ffffff
}

/*
 * The plugin menu. Contains the links to the plugins
 */
#pluginMenu
{
		background-color:#123456;
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:32px;
		border-bottom:1px solid #000000;
		z-index:6
}

.pluginMenuLink
{
		float:left;
		width:80px;
		height:30;
		border-right:1px solid #000000;
		text-align:left;
		font:bold 12px arial,helvetica,sans-serif;
		padding-left:3px;
		padding-top:2px;
		color:#ffffff
}
.pluginMenuLink a:link 
{ 
		color:#ffffff; 
		text-decoration:none 
}
.pluginMenuLink a:visited 
{ 
		color:#ffffff; 
		text-decoration:none 
}
.pluginMenuLink a:hover 
{ 
		color:#a37822; 
		text-decoration:none 
}
.pluginMenuLink a:active 
{ 
		color:#000000; 
		text-decoration:none 
}

#logo
{
	padding:5px 0px 0px 0px
}
/*
 * The application menu. Contains items like: 
 * logout, about, preferences etc
 */
#applicationMenu
{
		position:absolute;
		text-align:right;
		top:35px;
		left:0px;
		width:100%;
		height:30px;
		border-bottom:1px dotted #000000;
		background-color:#ffffff;
		z-index:5
}
.applicationMenuLink
{
		font:12px arial,helvetica,sans-serif;
		padding-left:3px;
		padding-right:3px;
		padding-top:3px;
		line-height:30px; 
		color:#333333
}
.applicationMenuLink a:link
{
		color:#000000;
		text-decoration:none 
}

.applicationMenuLink a:visited
{
		color:#000000;
		text-decoration:none 
}

.applicationMenuLink a:hover
{
		color:#666666;
		text-decoration:none 
}

.applicationMenuLink a:active
{
		color:#666666;
		text-decoration:none 
}


.copyright
{
		color:#bbbbbb;
		font:10px arial,helvetica,sans-serif
}
.copyright a:link
{
		color:#bbbbbb;
		text-decoration:none
}
.copyright a:visited
{
		color:#bbbbbb;
		text-decoration:none
}
.copyright a:hover
{
		color:#123456;
		text-decoration:none
}
.copyright a:active
{
		color:#123456;
		text-decoration:none
}
/*
 * The pane. This is the part that changes each time and is plugin
 * and action controlled
 */
#actionMenu
{
		position:absolute;
		top:60px;
		left:0px;
		background-color:#efefef;
		border-right:1px dotted #000000;
		border-bottom:1px dotted #000000
}

#actions
{
		background-color:#efefef;
		width:200px;
		float:left;
		margin:0px 0px 0px 5px
}
.pluginTitle
{
		font:bold 24px arial,helvetica,sans-serif;
		padding: 0px 0px 0px 5px;
		color:#123456
}
.actionGroupTitle
{
		font:bold 12px arial,helvetica,sans-serif;
		margin:12px 0px 0px 0px
}
.action
{
		font:12px arial,helvetica,sans-serif;
		margin:0px 0px 0px 10px;
		color:#666666
}
.action a:link
{
		color:#666666;
		text-decoration:none
}
.action a:visited
{
		color:#666666;
		text-decoration:none
}
.action a:hover
{
		color:#666666;
		text-decoration:none
}
.action a:active
{
		color:#666666;
		text-decoration:none
}

#pluginIcons
{
    margin-left:auto;
    position:absolute;
    top:10px;
    right:10px;
    width:140px;
    height:64px;
}
#trash
{
    float:right;
    width:64px;
    height:64px;
    z-index:-1;
}
#completedTasks, #uncompletedTasks
{
    float:left;
    width:64px;
    height:64px;
    z-index:-1;
}
#folderSection
{
    margin-left:10px;
    width:200px;
    z-index:-2; /* lower than trash and completedTasks */
    min-height:80px; /*content starts at 43, but icons at 60, so add min 17 to icons height*/
	/* for Internet Explorer */
	height:expression(80+"px");
}
/*
#nodeSection
{
}
*/
.dropzonehover
{
    background: #E8F0FF;
}

#content 
{
		position:absolute;
		left:210px;
		top:80px;
		right:0px;
		margin-right:0px;
		margin-bottom:20px;
		padding:5px;
		background-color:#ffffff;
		font:12px arial,helvetica,sans-serif;
		/*width:auto*/
		width:expression(document.body.clientWidth -210+"px");
}
h2 
{
		font:bold 12px arial,helvetica,sans-serif;
		margin:0px
}
#content a:link 
{ 
		color:#666666; 
		text-decoration:none 
}
#content a:visited 
{ 
		color:#666666; 
		text-decoration:none 
}

td.overviewTreeOdd
{
	    background-color:#eeeeff;
	    border: 1px dashed
}
td.overviewTreeEven
{
	    background-color:#ffffff;
	    border: 1px dashed
}
tr.odd
{
		background-color:#dddddd;
}
tr.even
{
		background-color:#ffffff;
}

/*
 * Form handling
 */
form 
{
		padding:0px;
		margin:0px
}

.formParameterName
{
		/* width:150px;*/
}

.inputParamName
{
		vertical-align:top
}
input 
{
		border:1px solid #666666;
		background-color:#ffffff;
		font-family:"courier new";
		font-size:14px;
		color:#666666
}

.button
{
		color:#123456;
		padding:0px;
		margin:5px;
   		font-weight:bold	  
}

.fileButton
{
		color:#123456;
		padding:0px;
		margin:0px;
   		font-weight:bold	  
}

.radio
{
		border:0px
}
.text
{
		width:440px
}


textarea 
{
		border:1px solid #666666;
		background-color:#ffffff;
		font-family:"courier new";
		font-size:13px;
		color:#666666;
		width:440px;
		height:80px
}

table
{
		border:0px solid #000000
}


tr, td 
{
		font-size:11px
}

input.feedback
{
	background-color:#ffffff;
	width: 400px;
	border: 0px;
}

input:focus
{
	background-color:#ffffcc;
}

.button:focus
{
	background-color:#ffffff;
}

textarea:focus
{
	background-color:#ffffcc;
}

td.inputParamName
{
	width:80px;
}

a img
{
	border:0px;
}

#loading
{
	position:fixed;
	/* IE hack */
	_position:absolute;
	text-align:right;
	top:35px;
	left:0px;
	height:20px;
	border:1px solid yellow;
        /*width:800px*/
        /*left: 840px;*/
        font-size:120%;
        /*margin-left:auto;*/
        /*margin-right:auto;*/
        /*display: block;*/
        z-index:10;
	background:url("../../framework/view/pics/loading/spinner.gif") no-repeat;
        background-color: #FFFF99;
	padding:1px 5px 1px 20px;

}

.sortableTable th
{
        background-image: url(pics/header-noarrow.png);
        background-repeat: no-repeat;
	height:33px;
	text-align:left;
}


.filterIcon
{
        height:0px;
}
.sortableTable
{
	border-collapse:collapse;
}

th.sortableTableHeader {
        background-image: url(pics/header-bg.png);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 25px;
	cursor:pointer;
        /*padding: 0px 0px 0px 20px;*/
}

th.sortableTableHeaderUp {
        background-image: url(pics/header-asc.png);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 25px;
        /*padding: 0px 0px 0px 25px;*/
}

th.sortableTableHeaderDown {
        background-image: url(pics/header-desc.png);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 25px;
        /*padding: 0px 0px 0px 25px;*/
}

.highlightedColumn {
        background-color: #dddddd;
}

.editableOver
{
        background-color:#ffe;
}

#myTree ul
{
	display:block;
	margin:0;
	padding: 0px 0px 0px 30px;

}