body
{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		padding: 2;
		margin: 2;
		background-image: url(pics/bg_content.gif);
		background-color:#ffffff
}

#pluginMenuBeforeCurrent ul,
#pluginMenuCurrent ul,
#pluginMenuAfterCurrent ul
{
		list-style: none;
		margin: 0;
		padding: 0
}
img
{
		border:0;
}
/*
ul.tree li.closed span.a.children span.b 
{
		background: url(../../framework/view/pics/tree/shaded_plus.gif) 0 50% no-repeat;
		cursor: pointer;
}

ul.tree span.a.children span.b 
{
		background: url(../../framework/view/pics/tree/shaded_minus.gif) 0 50% no-repeat;
		cursor: pointer;
}

ul.tree a  
{
		white-space: nowrap;
		overflow: hidden;
		position:relative;
		background: url(../../framework/view/pics/tree/shaded_item.gif) 0 50% no-repeat;
		padding:3px 1px 3px 18px;
}

ul.tree span.a.children a 
{
		background-image: url(../../framework/view/pics/tree/gnome_folder_open.gif);
}
ul.tree span.a.children.spanClosed a 
{
		background-image: url(../../framework/view/pics/tree/gnome_folder_closed.gif);
}
*/

#logo 
{
	position:absolute;
	top:5px;
	left:10px;
	width: 175px;
	height:35px;
	/*padding:5px;*/
	background-image: url(pics/bg_content.gif)
}

#pluginMenuBeforeCurrent
{
	width: 175px;
	padding:3px;
	background-color:#7aa6dc;
	border:1px solid #ffffff;
}

#pluginMenuCurrent
{
	width: 175px;
	padding:3px;
	background-color:#6bb521;
	border:1px solid #ffffff;
}

#pluginMenuAfterCurrent 
{
	width: 175px;
	padding:3px;
	background-color:#7aa6dc;
	border:1px solid #ffffff;
}

#pluginMenuBeforeCurrent li a, 
#pluginMenuCurrent li a, 
#pluginMenuAfterCurrent li a 
{
	height: 24px;
	font-weight: bold;
	font-size: 80%;
	text-decoration: none
}

#pluginMenuBeforeCurrent li a:link, #pluginMenuBeforeCurrent li a:visited, 
#pluginMenuCurrent li a:link, #pluginMenuCurrent li a:visited, 
#pluginMenuAfterCurrent li a:link, #pluginMenuAfterCurrent li a:visited 
{
	color: #ffffff;
	display: block;
	border:1px solid #ffffff;
	padding: 8px 0 0 10px
}


#pluginMenuBeforeCurrent li a:hover, 
#pluginMenuCurrent li a:hover, 
#pluginMenuAfterCurrent li a:hover
{
	color: #123456;
	border:1px solid #ffffff;
	padding: 8px 0 0 10px
}

/*
 * ffdba1
 * 6bb521
 */
#pluginMenuBeforeCurrent li a:active, 
#pluginMenuCurrent li a:active, 
#pluginMenuAfterCurrent li a:active 
{
	color: #7aa6dc;
	border:1px solid #ffffff;
	padding: 8px 0 0 10px
}



/*
 * The application menu. Contains items like: 
 * logout, about, preferences etc
 */
#applicationMenu
{
		position:absolute;
		text-align:right;
		top:0px;
		left:190px;
		height:35px;
		padding:8px 5px 2px 5px;
		z-index:5
}

.applicationMenuLink
{
		font:12px arial,helvetica,sans-serif;
		padding-left:5px;
		padding-right:5px;
		padding-top:5px;
		line-height:35px; 
		color:#333333
}
.applicationMenuLink a:link
{
		color:#000000;
		text-decoration:none 
}

.applicationMenuLink a:visited
{
		color:#000000;
		text-decoration:none 
}

.applicationMenuLink a:hover
{
		color:#666666;
		text-decoration:none 
}

.applicationMenuLink a:active
{
		color:#666666;
		text-decoration:none 
}

#pluginTitle
{
		float:left
}

.copyright
{
		color:#123456;
		font:12px arial,helvetica,sans-serif;
		margin:10px 0px 0px 5px
}
.copyright a:link
{
		color:#123456;
		text-decoration:none
}
.copyright a:visited
{
		color:#123456;
		text-decoration:none
}
.copyright a:hover
{
		color:#ffffff;
		text-decoration:none
}
.copyright a:active
{
		color:#ffffff;
		text-decoration:none
}
/*
 * The pane. This is the part that changes each time and is plugin
 * and action controlled
 */
#actionMenu
{
		top:80px;
		left:10px;
		margin:0px 0px 0px 4px;
		width:172px;
		background-color:#dfdfdf;
		border-top:1px dotted #dfdfdf;
		border-bottom:1px dotted #dfdfdf
}

#actions
{
		background-color:#1f1fef;
		width:175px;
		float:left;
		margin:0px 0px 0px 0px
}
.actionGroupTitle
{
		font:bold 12px arial,helvetica,sans-serif;
		margin:12px 0px 0px 5px
}
.action
{
		font:12px arial,helvetica,sans-serif;
		margin:0px 0px 0px 15px;
		color:#666666
}
.action a:link,
.action a:visited,
.action a:hover,
.action a:active
{
		color:#666666;
		text-decoration:none
}
#pluginMenu
{
		position:absolute;
		left:10px;
		top:42px;
}
#content 
{
		position:absolute;
		left:194px;
		top:37px;
		margin-bottom:20px;
		padding:5px;
		background-color:#ffffff;
		font:12px arial,helvetica,sans-serif;
		background-image: url(pics/bg_content.gif);
		width:80%
}
h2 
{
		font:bold 12px arial,helvetica,sans-serif;
		margin:0px
}
#content a:link 
{ 
		color:#666666; 
		text-decoration:none 
}
#content a:visited 
{ 
		color:#666666; 
		text-decoration:none 
}

td.overviewTreeOdd
{
	    background-color:#eeeeff;
	    border: 1px dashed
}
td.overviewTreeEven
{
	    background-color:#ffffff;
	    border: 1px dashed
}
tr.odd
{
		background-color:#dddddd;
}
tr.even
{
		background-color:#ffffff;
}

/*
 * Form handling
 */
form 
{
		padding:0px;
		margin:0px
}

.formParameterName
{
		/* width:150px;*/
}

.inputParamName
{
		vertical-align:top
}
input 
{
		border:1px solid #666666;
		background-color:#ffffff;
		font-family:"courier new";
		font-size:14px;
		color:#666666
}

.button
{
		color:#394584;
		padding:0px;
		margin:5px;
   		font-weight:bold	  
}

.fileButton
{
		color:#394584;
		padding:0px;
		margin:0px;
   		font-weight:bold	  
}

.radio
{
		border:0px
}
.text
{
		width:440px
}


textarea 
{
		border:1px solid #666666;
		background-color:#ffffff;
		font-family:"courier new";
		font-size:13px;
		color:#666666;
		width:440px;
		height:80px
}

table
{
		border:0px solid #000000
}


tr, td 
{
		font-size:11px
}

#pluginTitlex
{
	padding-left:4px;
	padding-top:2px;
	padding:2px;
	margin:2px;
	text-align:left;
	background-color:#6bb521;
}

#pluginWarning
{
	padding-left:4px;
	padding-top:2px;
	padding:2px;
	margin:2px;
	text-align:left;
	background-color:#ff0000;
}

h2.pluginWarning
{
	padding-left:4px;
	padding-top:3px;
	padding:2px;
	margin:1px;
	font-size:14px;
	color:#ffffff;
	background-color:#ff0000;
	border:1px solid #ffffff;
}
h2.pluginTitle
{
	padding-left:4px;
	padding-top:3px;
	padding:2px;
	margin:1px;
	font-size:14px;
	color:#ffffff;
	background-color:#6bb521;
	border:1px solid #ffffff;
}
#pluginIcons
{
	margin-left:auto;
	position:absolute;
	top:35px;
	right:0px;
	width:140px;
	height:40px;
}
#trash
{
	float:right;
	width:64px;
	height:64px;
	z-index:-1;
}
#completedTasks, #uncompletedTasks
{
	float:left;
	width:64px;
	height:64px;
	z-index:-1;
}
#folderSection
{
	background-image:url("pics/folderSection.gif"); 
	min-height:55px; 
	height:auto;
	width:200px;
	z-index:-2; /* lower than trash and completedTasks */
}
/* for Internet Explorer */
/*\*/
* html #folderSection {
height: 55px;
}
/**/
#nodeSection
{
}
.dropzonehover
{
	border:dotted 1px;
}

div#content .selected
{
	background-color:#fc9;
}


.sortableTable th
{
        background-color:#fddd90;
	height:18px;
	text-align:left;
}

.sortableTable
{
	border-collapse:collapse;
}
.filterIcon
{
        height:0px;
}

.sortableTableHeader {
        background-image: url(pics/green_arrows.gif);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 20px;
	cursor:pointer;
}

.sortableTableHeaderUp {
        background-image: url(pics/green_ascending.gif);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 20px;
}

.sortableTableHeaderDown {
        background-image: url(pics/green_descending.gif);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 20px;
}

.highlightedColumn {
        background-color: #dddddd;
}
/*

.filterIcon
{
        height:0px;
}

thead th
{
        background-color:#fc9;
        padding: 0px 0px 0px 0px;
	height:24px;
	text-align:left
}

.sortableTableHeader {

        background-image: url(pics/green_arrows.gif);
        background-repeat: no-repeat;
        padding: 0px 0px 0px 20px;
}

.sortableTableHeaderUp {
        background-image: url(pics/green_ascending.gif);
        background-repeat: no-repeat;
}
.sortableTableHeaderDown {
        background-image: url(pics/green_descending.gif);
        background-repeat: no-repeat;
}
.highlightedColumn {
        background-color: #dddddd;
}
*/
.editableOver
{
	background-color:#ffc;
}
input.feedback
{
	background-color:transparent;
	width: 400px;
	border: 0px;
}

p.tip
{
	padding-left:14px;
	padding-top:13px;
	padding:12px;
	margin:11px;
	border:1px dashed #000000;
}

input:focus
{
	background-color:#ffffcc;
}

.button:focus
{
	background-color:#ffffff;
}

textarea:focus
{
	background-color:#ffffcc;
}

td.inputParamName
{
	width:80px;
}
#loading
{

        position: fixed;
        _position: absolute;
        top:48px;
		right:100px;
        height:20px;
		width:200px;
        padding: 5px 5px 5px 5px;
        z-index:10;
        border-color:2px solid #000;
		background:url("../../framework/view/pics/loading/loading_blue_bar.gif") no-repeat;
}

#myTree ul
{
    display:block;
    margin:0;
    padding: 0px 0px 0px 30px;

}